.header {
  position: sticky;
  top: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  width: 100%;
  padding: calc(8px + var(--safe-top)) 8px 8px;
  pointer-events: none;
}

.end {
  justify-content: flex-end;
}

.between {
  justify-content: space-between;
}

.group {
  display: flex;
  gap: 4px;
  align-items: center;
}

.circle {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 100px;
  background: var(--color-glass);
  pointer-events: auto;
}
